**/classes/
**/build/
**/bin/
**/target/
**/.settings/
**/.classpath
**/.project
**/.git
**/.class
.classpath
.project
.settings
*.iml
**/.idea
**/*.jsfdia
**/*.pmd
**/Thumbs.db
**/.tern-project
.tern-project
**/*release-pom.xml
**/pom.xml.*
**/.external*
**/*.log
**/.springBeans
